@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(103, 108, 115, 0.5) #000000; /* thumb | track noir */
  overscroll-behavior: contain;
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(103, 108, 115, 0.5);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #000000; /* track noir */
}

.custom-scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
